<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ALL USERS</title>
</head>
<body>
<tr th:each="user,iterStat:${allUsers}">
    <th scope="row" th:text="${user.id}">1</th>
    <td th:text="${user.id}">id2</td>
    <td th:text="${user.userName}">username</td>
    <td th:text="${user.password}">password</td>
    <td th:text="${user.nickName}">nickname</td>
    <td th:text="${user.email}">email</td>
    <td th:text="${user.regTime}">regtime</td>
    <td th:text="${iterStat.index}">index</td>
    <br/>
</tr>
</body>
</html>